<style type="text/css">

.bloglist {
  background-color:#295715;

}

</style>

<body>
<div>

  <h1 style="font-family:verdana; text-align:center;">Alva-Blog!</h1>

<%= link_to 'Home', root_path %>

<hr />

<h3 style="font-family:verdana; text-align:center;">Areas of Interest</h3>

<ul>
  <li><strong>Art: </strong>Docenting, Collections, and My Own Work</li>
  <li><strong>Thought/Blogging: </strong><a href="http://alvasvoboda.blogspot.com/">Journal</a>, Quora, Medium</li>
  <li><strong>Poetry: </strong></li>
  <li><strong>Music: </strong></li>
  <li><strong>Operations Research: </strong></li>
  <li><strong>Electricity Markets: </strong></li>
  <li><strong>Entrepreneurship: </strong></li>
</ul>

<hr />

<p>Want to know more?</p>

<form action="http://www.aljosvoboda.com">

<input type="submit" value="Click here!">

</form>
</div>
</body>