<style type="text/css">

.bloglist {
  background-color:#295715;

}

</style>

<body>
<div>
</hr>

<div class="center jumbotron">


  <h1 style="font-family:verdana; text-align:center;">SVOBIUS!</h1>

<%= link_to "Join the Party", "#", class:"btn btn-danger btn-lg btn-xlarge" %>

</div>

<p>Want to know more?</p>

<form action="http://www.aljosvoboda.com">

<input type="submit" value="Click here!">

</form>
</div>
</body>